.main{
    width: 100vw;
    height: 100vh;
    background-color: #830492;

}

@font-face {
    font-family: MadeyneSans;
    src: url(font/MadeynSans-Bold.ttf);
}

.titulo{
        width: auto;
        display: flex;
        justify-content: center;
        padding-top: 20px;
        font-family: 'MadeyneSans';
        font-size: 9vw;
        color:#FF2C97;
        background-color: white;
        
}

.nome_evento{
    background-color: rgba(255, 255, 255, 0.623);
    display: flex;
    justify-content: center;
    padding: 0 30%;
    margin-top: 20vh;
}
.caixa{
    background-color: #FF2C97;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 700px;
    border-radius: 30px;
}
.sortear-por{
    color: yellow;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 20px;
}

.bt-conteiner{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.botao{
    background-color: rgb(255, 255, 255);
    width: 30vw;
    display: flex;
    justify-content: center;
    padding: 10px;
}
